root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
indent_style = space
trim_trailing_whitespace = true

[*.{cs,csx,vb,vbx}]
indent_size = 4

[*.{json,js,ts,vue,html,css,scss,yaml,yml}]
indent_size = 2

[*.md]
trim_trailing_whitespace = false

# .NET Code Analysis Rules
[*.{cs,vb}]

# CA1848: Use the LoggerMessage delegates
dotnet_diagnostic.CA1848.severity = none

# IDE0290: Use primary constructor
dotnet_diagnostic.IDE0290.severity = suggestion

# CS8618: Non-nullable field must contain a non-null value when exiting constructor
dotnet_diagnostic.CS8618.severity = none