# Dependencies
node_modules/
.pnp/
.pnp.js

# Testing
coverage/

# Next.js
.next/
out/
build/
dist/

# Misc
.DS_Store
*.pem

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts

# .NET
bin/
obj/
.vs/
*.user
*.userosscache
*.sln.docstates
*.userprefs
.vscode/
*.swp
*.*~
project.lock.json
.DS_Store
*.pyc
nupkg/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables and sensitive configs
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
**/appsettings.*.json
!**/appsettings.Development.json
**/launchSettings.json

# Database
database/
backend/Kerko/processed_data/
backend/Kerko/kerko.db
backend/Kerko/kerko.db-shm
backend/Kerko/kerko.db-wal
backend/Kerko/kerko_dump.sql

# Certificates
backend/Kerko/certificates

# Build
publish/